/* TYPOGRAPHY */
@font-face {
  font-family: "Praxis LT Light";
  src: url("//db.onlinewebfonts.com/t/f08c385816b14ef9bd4254447c059b7a.eot");
  src: url("//db.onlinewebfonts.com/t/f08c385816b14ef9bd4254447c059b7a.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/f08c385816b14ef9bd4254447c059b7a.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/f08c385816b14ef9bd4254447c059b7a.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/f08c385816b14ef9bd4254447c059b7a.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/f08c385816b14ef9bd4254447c059b7a.svg#Praxis LT Light") format("svg");
}

@font-face {
  font-family: "Praxis LT Semibold";
  src: url("//db.onlinewebfonts.com/t/4fe8e1d416ffb7e0e3f3a8880b2fe663.eot");
  src: url("//db.onlinewebfonts.com/t/4fe8e1d416ffb7e0e3f3a8880b2fe663.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/4fe8e1d416ffb7e0e3f3a8880b2fe663.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/4fe8e1d416ffb7e0e3f3a8880b2fe663.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/4fe8e1d416ffb7e0e3f3a8880b2fe663.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/4fe8e1d416ffb7e0e3f3a8880b2fe663.svg#Praxis LT Semibold") format("svg");
}

@font-face {
  font-family: 'PraxisLTBold';
  src: url('../fonts/PraxisLTBold/PraxisLTBold.TTF')
}

@font-face {
  font-family: 'PraxisLTRegular';
  src: url('../fonts/PraxisLTRegular/PraxisLTRegular.TTF')
}

@font-face {
  font-family: 'PraxisLTLight';
  src: url('../fonts/PraxisLTLight/PraxisLTLight.TTF')
}

@font-face {
  font-family: 'PraxisLTSemibold';
  src: url('../fonts/PraxisLTSemibold/PraxisLTSemibold.TTF')
}

/* Google Fonts */

//@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");
//@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900");
// font families
$font-lato: 'Lato',
Arial,
Verdana,
sans-serif;
$font-raleway: 'Raleway',
Arial,
Verdana,
sans-serif;
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: -apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
