#block-find-resources{
    text-align: center;
    clear: both;
    background-color: rgba($color: $white, $alpha: 0.8);
    @include small-mobile{ 
        top: -57px;
        position: relative;
        margin: 0 15px;
    }
    @include mobile{
        top: -219px;
        position: relative;
    }
    @include tablet{
        top: -219px;
    }
        .field--name-field-title-info{
            font-family: 'PraxisLTSemibold',"Praxis LT Semibold",sans-serif;
            font-size: 20px;
            text-align: center;

            @include small-mobile{
                font-size: 14px;
            }
        }
        .field--name-field-info-body{
            font-size: 15px;
            text-align: center;
            @include small-mobile{
                text-align: justify;
                font-size: 12px;
            }
        }
}
