#block-find-resources{
    text-align: center;
    clear: both;
    @include small-mobile{ 
        position: initial;
    }
    @include mobile{
        top: -160px;
        position: relative;
    }
    @include desktop{
        top: -350px;
        position: relative;
    }
        .field--name-field-title-info{
            font-family: 'PraxisLTSemibold';
            font-size: 20px;
            text-align: center;
            @include small-mobile{
                font-size: 14px;
            }
        }
        .field--name-field-info-body{
            font-size: 15px;
            text-align: center;
            @include small-mobile{
                text-align: justify;
                font-size: 12px;
            }
        }
}