#block-takeda-background-image{ 
        @include small-mobile {
            height: 200px;
            background-size: cover !important;
        }
        @include mobile{
            height: 506px;
            background-size: cover !important;
        }
        @include desktop{
            height: 700px;
            background-size: cover !important;
        }
    .field--name-body {
        text-align: center;
        font-size: 30px;
        padding-top: 35px;
        @include small-mobile{
            font-size: 12px;
            padding-top: 12px;
        }
        p{
            color: #4C4948; 
          &:first-child{
              margin-bottom: 52px;
              @include small-mobile{
                margin-bottom: 22px;
              }
          }
          &:nth-child(2){
              img{
                  @include small-mobile{
                    height: 25px;
                  }
              }
          }
          &:nth-child(3){
              margin: 0 auto;
              width: 320px;
              height: 8px;
              border-bottom: 2px solid #4C4948; 
          } 
          &:last-child{
            margin-top: 14px;
            @include small-mobile{
                margin-bottom: 7px;
              }
          } 
        }
    }
}